<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">EA</a>
        </div>
        <ul class="nav navbar-nav">
            {% if is_granted('ROLE_USER') %}
                <li>
                    <a href={{ path('user_show', { 'id': app.user.id }) }}>
                        {% if app.user.firstName and app.user.secondName %}
                            {{ app.user.firstName~' '~app.user.secondName }}
                        {% else %}
                            {{ app.user.email }}
                        {% endif %}
                    </a>
                </li>
                <li><a href="{{ path('security_logout') }}">{{ 'Logout'|trans }}</a></li>
            {% else %}
                <li><a href="{{ path('security_login') }}">{{ 'Login'|trans }}</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('user_list') }}">{{ 'Users'|trans }}</a></li>
            {% endif %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'Products'|trans }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('product_list') }}">{{ 'List'|trans }}</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('product_new') }}">{{ 'Create new'|trans }}</a></li>
                    {% endif %}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'Activities'|trans }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('activity_list') }}">{{ 'List'|trans }}</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('activity_new') }}">{{ 'Create new'|trans }}</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</nav>
