{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'Activity'|trans }} {{ activity.name }}{% endblock %}

{% block body %}
    <div class="ea-page__header">
        <h1>{{ 'Activity'|trans }}</h1>
    </div>
    <div class="ea-block ea-block--flex">
        <div class="ea-block__left">
            <div class="ea-block__header">
                {{ activity.name }}
            </div>
            <div class="ea-block__date">{{ 'Created at'|trans }} {{ activity.createdAt|date("m/d/Y") }}</div>
            <div class="ea-devider"></div>
            <div class="ea-block__info">
                <table class="ea-table table table-striped">
                    <thead>
                    <tr>
                        <td>{{ 'Kkal'|trans }}</td>
                        <td>{{ 'Proteins'|trans }}</td>
                        <td>{{ 'Fats'|trans }}</td>
                        <td>{{ 'Carbohydrates'|trans }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ activity.kkalPer5minutes }}</td>
                        <td>{{ activity.proteinsPer5minutes }}</td>
                        <td>{{ activity.fatsPer5minutes }}</td>
                        <td>{{ activity.carbohydratesPer5minutes }}</td>
                    </tr>
                    </tbody>
                </table>
                <div>Rate: {{ activity.rating }}</div>
            </div>
            <a href="{{ path('activity_list') }}" class="btn btn-primary">{{ 'Back'|trans }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('activity_edit', {'id': activity.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
                <a href="{{ path('activity_delete', {'id': activity.id}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a>
            {% endif %}
        </div>
        <div class="ea-block__right">
            <img src="{{ activity.image ? asset('files/activity/' ~ activity.image.filename) : asset('img/no-image.png') }}">
        </div>
    </div>
{% endblock %}
