{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'Products'|trans }}{% endblock %}

{% block body %}
    <div class="ea-page__header">
        <h1>{{ 'Products'|trans }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('product_new') }}" class="btn btn-primary btn-lg">{{ 'New Product'|trans }}</a>
        {% endif %}
    </div>
    <div>
        {% for product in products %}
            <div class="ea-block ea-block--flex ea-block--fixed">
                <div class="ea-block__left">
                    <div class="ea-block__header">{{ product.name }}</div>
                    <div class="ea-block__date">{{ 'Created at'|trans }} {{ product.createdAt|date("m/d/Y") }}</div>
                    <div class="ea-devider"></div>
                    <div class="ea-block__info">
                        kkal: {{ product.calories }} /
                        proteins: {{ product.proteins }} /
                        fats: {{ product.fats }} /
                        carbohydrates: {{ product.carbohydrates }}
                    </div>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary">{{ 'Show'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
                    {% endif %}
                </div>
                <div class="ea-block__right">
                    {% set image_path = product.image and product.image.filename is defined
                                        ? product.image.filename
                                        : product.image %}
                    <img src="{{ image_path ? asset('files/product/' ~ image_path) : asset('img/no-image.png') }}"
                         alt="{{ product.name }}">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
