{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'Recommendations'|trans }}{% endblock %}

{% block body %}
    <div class="ea-page__header">
        <h1>{{ 'Recommendations'|trans }}</h1>
    </div>
    <div class="ea-list">
        {% for product in products %}
            <div class="ea-block ea-block--flex">
                <div class="ea-block__left">
                    <div class="ea-block__header">{{ product.name }}</div>
                    <div class="ea-block__date">{{ 'Created at'|trans }} {{ product.createdAt|date("m/d/Y") }}</div>
                    <div class="ea-devider"></div>
                    <div class="ea-block__info">
                        {{ 'Kkal'|trans }}: {{ product.kkalPer100gr }} /
                        {{ 'Proteins'|trans }}: {{ product.proteinsPer100gr }} /
                        {{ 'Fats'|trans }}: {{ product.fatsPer100gr }} /
                        {{ 'Carbohydrates'|trans }}: {{ product.carbohydratesPer100gr }}
                    </div>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary">{{ 'Show'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
                    {% endif %}
                </div>
                <div class="ea-block__right">
                    <img src="{{ product.image ? asset('files/products/' ~ product.image.filename) : asset('img/no-image.png') }}">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
