<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}EA:{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <div class="ea-content main-container">
            {% block header %}
                {% include 'regions/header.html.twig' %}
            {% endblock %}
            <div class="ea-wrapper">
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endfor %}
                {% for msg in app.session.flashBag.get('error') %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endfor %}
                {% block body %}
                    {% include 'regions/footer.html.twig' %}
                {% endblock %}
            </div>
            {% block footer %}
                {% include 'regions/footer.html.twig' %}
            {% endblock %}
            {% block javascripts %}
                <script src="{{ asset('js/main.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
