{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'Edit User\'s password'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit User\'s password'|trans }}</h1>
    <div class="ea-form">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success btn-lg">{{ 'Save'|trans }}</button>
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary btn-lg">{{ 'Back'|trans }}</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
