{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'User Show'|trans }}{% endblock %}

{% block body %}
    {% include 'user/user_info.html.twig' with {
        'user': user
    } %}

    {% if day_consumption %}
        <div class="ea-block">
            <div class="ea-block__header">{{ 'Consumption'|trans }}</div>
            {% for meal, consumptions in day_consumption %}
                {% if consumptions %}
                    <div class="ea-block__sub_header">{{ meal|capitalize }}</div>
                    <table class="ea-table-6 table table-striped">
                        <thead>
                            <tr>
                                <td>{{ 'Product'|trans }}</td>
                                <td>{{ 'Gramm'|trans }}</td>
                                <td>{{ 'Kkal'|trans }}</td>
                                <td>{{ 'Proteins'|trans }}</td>
                                <td>{{ 'Fats'|trans }}</td>
                                <td>{{ 'Carbohydrates'|trans }}</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in consumptions %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.howMuch }}</td>
                                <td>{{ item.howMuch * item.product.kkalPer100gr / 100 }}</td>
                                <td>{{ item.howMuch * item.product.proteinsPer100gr / 100 }}</td>
                                <td>{{ item.howMuch * item.product.fatsPer100gr / 100 }}</td>
                                <td>{{ item.howMuch * item.product.carbohydratesPer100gr / 100 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
